<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a salary"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !salary" message="Salary Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="salary && privilege.showOne">
  <app-page-header
    title="Salary Detail Page of {{ salary.code }}"
    [breadcrumbSegments]="['Salaries', 'Show All Salaries', 'Details of ' + salary.code]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Created Date</th>
                <td>{{salary.tocreation | date}}</td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td>{{salary.tocreation | date: 'shortTime': '+0530'}}</td>
              </tr>
              <tr>
                <th>Creator</th>
                <td>{{getUserDisplayName(salary.creator)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Code</th>
                <td>{{salary.code}}</td>
              </tr>
              <tr>
                <th>Employee</th>
                <td>{{salary.employee.nametitle.name + ' ' + salary.employee.callingname}}</td>
              </tr>
              <tr>
                <th>Month</th>
                <td>{{salary.month | date: 'fullDate'}}</td>
              </tr>
              <tr>
                <th>Date</th>
                <td>{{salary.date | date: 'fullDate'}}</td>
              </tr>
              <tr>
                <th>EPF</th>
                <td>{{salary.epf | currency: 'Rs.'}}</td>
              </tr>
              <tr>
                <th>ETF</th>
                <td>{{salary.etf | currency: 'Rs.'}}</td>
              </tr>
              <tr>
                <th>Gross Income</th>
                <td>{{salary.grossincome | currency: 'Rs.'}}</td>
              </tr>
              <tr>
                <th>Net Salary</th>
                <td>{{salary.netsalary | currency: 'Rs.'}}</td>
              </tr>
              <tr>
                <th>Advanced Payment</th>
                <td><span class="mat-body badge badge-secondary d-inline-block mr-2 mb-2 font-weight-light py-1 px-3" *ngFor="let advancedpayment of salary.advancedpaymentList">{{advancedpayment.code}}</span></td>
              </tr>
                  <tr>
                    <td colspan="2">
                      <table class="w-100 custom-data-table">
                        <thead>
                          <tr>
                            <th>Salary Allowance Title</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let allowance of salary.allowanceList">
                            <td>{{allowance.title}}</td>
                            <td>{{allowance.amount}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <table class="w-100 custom-data-table">
                        <thead>
                          <tr>
                            <th>Loan</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let salaryloan of salary.salaryloanList">
                            <td>{{salaryloan.loan}}</td>
                            <td>{{salaryloan.amount}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <table class="w-100 custom-data-table">
                        <thead>
                          <tr>
                            <th>Salary Deduction Title</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let deduction of salary.deductionList">
                            <td>{{deduction.title}}</td>
                            <td>{{deduction.amount}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
              <tr *ngIf="salary.description">
                <th>Description</th>
                <td [innerHTML]="salary.description | nl2br"></td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/salaries/edit/{{salary.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/salaries/add" mat-stroked-button><mat-icon>add</mat-icon> New Salary</button>
    <button *ngIf="privilege.showAll" routerLink="/salaries" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Salaries</button>
  </div>
</div>
