<app-no-privilege *ngIf="!privilege.showOne" message="No privilege to show more details of a loanrepayment"></app-no-privilege>
<app-object-not-found *ngIf="loaded && !loanrepayment" message="Loanrepayment Not Found"></app-object-not-found>
<app-loading *ngIf="!loaded"></app-loading>
<div *ngIf="loanrepayment && privilege.showOne">
  <app-page-header
    title="Loanrepayment Detail Page of {{ loanrepayment.code }}"
    [breadcrumbSegments]="['Loanrepayments', 'Show All Loanrepayments', 'Details of ' + loanrepayment.code]"
  ></app-page-header>
  <div class="row">
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Created Date</th>
                <td>{{loanrepayment.tocreation | date}}</td>
              </tr>
              <tr>
                <th>Created Time</th>
                <td>{{loanrepayment.tocreation | date: 'shortTime': '+0530'}}</td>
              </tr>
              <tr>
                <th>Creator</th>
                <td>{{getUserDisplayName(loanrepayment.creator)}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-content>
          <table class="w-100 table-striped custom-data-table">
            <tbody>
              <tr>
                <th>Code</th>
                <td>{{loanrepayment.code}}</td>
              </tr>
              <tr>
                <th>Loan ID</th>
                <td>{{loanrepayment.loan.code}}</td>
              </tr>
              <tr>
                <th>Date</th>
                <td>{{loanrepayment.date | date: 'fullDate'}}</td>
              </tr>
              <tr>
                <th>Amount</th>
                <td>{{loanrepayment.amount | currency: 'Rs.'}}</td>
              </tr>
              <tr *ngIf="loanrepayment.description">
                <th>Description</th>
                <td [innerHTML]="loanrepayment.description | nl2br"></td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="d-flex mt-5">
    <button *ngIf="privilege.delete" (click)="delete()" class="ml-0" mat-raised-button color="warn"><mat-icon>delete</mat-icon> Delete</button>
    <span class="spacer"></span>
    <button *ngIf="privilege.update" routerLink="/loanrepayments/edit/{{loanrepayment.id}}" mat-raised-button color="accent"><mat-icon>edit</mat-icon> Change</button>
    <button *ngIf="privilege.add" routerLink="/loanrepayments/add" mat-stroked-button><mat-icon>add</mat-icon> New Loanrepayment</button>
    <button *ngIf="privilege.showAll" routerLink="/loanrepayments" class="mr-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Loanrepayments</button>
  </div>
</div>
