<app-no-privilege message="No privilege to add new loanrepayment" *ngIf="!privilege.add"></app-no-privilege>
<div *ngIf="privilege.add">
  <app-page-header title="Loanrepayment Form" [breadcrumbSegments]="['Loanrepayments', 'Add New Loanrepayment']"></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-content>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Loan Id</mat-label>
                <mat-select formControlName="loan" required>
                  <mat-option *ngFor="let loan of loans" [value]="loan.id">{{loan.code}}</mat-option>
                </mat-select>
                <mat-error *ngIf="loanField.invalid">
                  <span *ngIf="loanField.errors.required">Select at lease one loan id</span>
                  <span *ngIf="loanField.errors.server">{{loanField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="pickerdate" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="pickerdate"></mat-datepicker-toggle>
                <mat-datepicker #pickerdate></mat-datepicker>
                <mat-hint>Ex: 2020-12-31</mat-hint>
                <mat-error *ngIf="dateField.invalid">
                  <span *ngIf="dateField.errors.required">Date is required</span>
                  <span *ngIf="dateField.errors.server">{{dateField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Amount</mat-label>
                <input type="number" matInput formControlName="amount" required>
                <mat-hint>Ex: 25</mat-hint>
                <mat-error *ngIf="amountField.invalid">
                  <span *ngIf="amountField.errors.required">Amount is required</span>
                  <span *ngIf="amountField.errors.server">{{amountField.errors.server.join(', ')}}</span>
                  <span *ngIf="amountField.errors.min">Amount should be equal or greater than 0</span>
                  <span *ngIf="amountField.errors.max">Amount should be equal or less than 100000000</span>
                  <span *ngIf="amountField.errors.pattern">Amount is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" ></textarea>
            <mat-hint>Ex:  This is Description</mat-hint>
            <mat-error *ngIf="descriptionField.invalid">
              <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
              <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
              <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/loanrepayments" class="ml-0" mat-flat-button color="primary"><mat-icon>list</mat-icon> All Loanrepayments</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="reset"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>
      </mat-card-content>
      <mat-card-actions align="right">
        <span class="text-warning">*</span> Required Fields
      </mat-card-actions>
    </mat-card>
  </form>
</div>
