<app-no-privilege *ngIf="!privilege.update" message="No privilege to change delivery details"></app-no-privilege>
<div *ngIf="this.delivery && privilege.update">
  <app-page-header
    title="Delivery Change Form of {{ delivery.code }}"
    [breadcrumbSegments]="['Deliveries', 'Show All Deliveries', 'Change Details of ' + delivery.code]"
  ></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()" #ngForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Customer Order</mat-label>
                <mat-select formControlName="customerorder" required>
                  <mat-option *ngFor="let customerorder of customerorders" [value]="customerorder.id">{{customerorder.code}}</mat-option>
                </mat-select>
                <mat-error *ngIf="customerorderField.invalid">
                  <span *ngIf="customerorderField.errors.required">Select at lease one customer order</span>
                  <span *ngIf="customerorderField.errors.server">{{customerorderField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Vehicle Number</mat-label>
                <mat-select formControlName="vehicle" required>
                  <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{vehicle.no}}</mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleField.invalid">
                  <span *ngIf="vehicleField.errors.required">Select at lease one vehicle number</span>
                  <span *ngIf="vehicleField.errors.server">{{vehicleField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contact Name</mat-label>
                <input matInput formControlName="contactname" required>
                <mat-hint>Ex: Kithsiri Ranasinghe</mat-hint>
                <mat-error *ngIf="contactnameField.invalid">
                  <span *ngIf="contactnameField.errors.required">Contact Name is required</span>
                  <span *ngIf="contactnameField.errors.server">{{contactnameField.errors.server.join(', ')}}</span>
                  <span *ngIf="contactnameField.errors.minlength">Contact Name should has at least null characters. </span>
                  <span *ngIf="contactnameField.errors.maxlength">Contact Name can have a maximum of 255 characters. </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contact Number</mat-label>
                <input matInput formControlName="contactno" required>
                <mat-hint>Ex: 0766123045</mat-hint>
                <mat-error *ngIf="contactnoField.invalid">
                  <span *ngIf="contactnoField.errors.required">Contact Number is required</span>
                  <span *ngIf="contactnoField.errors.server">{{contactnoField.errors.server.join(', ')}}</span>
                  <span *ngIf="contactnoField.errors.minlength">Contact Number should has at least 9 characters. </span>
                  <span *ngIf="contactnoField.errors.maxlength">Contact Number can have a maximum of 10 characters. </span>
                  <span *ngIf="contactnoField.errors.pattern">Contact Number is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Permit Number</mat-label>
                <input matInput formControlName="permitno" >
                <mat-hint>Ex: 667744</mat-hint>
                <mat-error *ngIf="permitnoField.invalid">
                  <span *ngIf="permitnoField.errors.server">{{permitnoField.errors.server.join(', ')}}</span>
                  <span *ngIf="permitnoField.errors.minlength">Permit Number should has at least 1 characters. </span>
                  <span *ngIf="permitnoField.errors.maxlength">Permit Number can have a maximum of 10 characters. </span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Distance</mat-label>
                <input type="number" matInput formControlName="distance" >
                <mat-hint>Ex: 40 km</mat-hint>
                <mat-error *ngIf="distanceField.invalid">
                  <span *ngIf="distanceField.errors.server">{{distanceField.errors.server.join(', ')}}</span>
                  <span *ngIf="distanceField.errors.minlength">Distance should be equal or greater than 10</span>
                  <span *ngIf="distanceField.errors.maxlength">Distance should be equal or less than 1000</span>
                  <span *ngIf="distanceField.errors.pattern">Distance is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Delivery Status</mat-label>
                <mat-select formControlName="deliverystatus" required>
                  <mat-option *ngFor="let deliverystatus of deliverystatuses" [value]="deliverystatus.id">{{deliverystatus.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="deliverystatusField.invalid">
                  <span *ngIf="deliverystatusField.errors.required">Select at lease one delivery status</span>
                  <span *ngIf="deliverystatusField.errors.server">{{deliverystatusField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" required></textarea>
            <mat-hint>Ex: 123, Colombo Road, Gampaha</mat-hint>
            <mat-error *ngIf="addressField.invalid">
              <span *ngIf="addressField.errors.required">Address is required</span>
              <span *ngIf="addressField.errors.server">{{addressField.errors.server.join(', ')}}</span>
              <span *ngIf="addressField.errors.minlength">Address should has at least 4 characters. </span>
              <span *ngIf="addressField.errors.maxlength">Address can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Delivery Employee</mat-label>
            <app-dual-listbox [min]="1"  placeholder="Add Delivery Employee To Here" [sourceData]="employees" formControlName="employees"></app-dual-listbox>
            <mat-error *ngIf="employeesField.invalid">
              <span *ngIf="employeesField.errors.min">Select at lease 1 Delivery Employee</span>
              <span *ngIf="employeesField.errors.server">{{employeesField.errors.server.join(', ')}}</span>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" ></textarea>
            <mat-error *ngIf="descriptionField.invalid">
              <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
              <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
              <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/deliveries" class="ml-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Deliveries</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="button" (click)="discardChanges()"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
