<app-no-privilege *ngIf="!privilege.update" message="No privilege to change salary details"></app-no-privilege>
<div *ngIf="this.salary && privilege.update">
  <app-page-header
    title="Salary Change Form of {{ salary.code }}"
    [breadcrumbSegments]="['Salaries', 'Show All Salaries', 'Change Details of ' + salary.code]"
  ></app-page-header>
  <form [formGroup]="form" (ngSubmit)="submit()" #ngForm="ngForm">
    <mat-card>
      <mat-card-content>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Employee</mat-label>
                <mat-select formControlName="employee" required>
                  <mat-option *ngFor="let employee of employees" [value]="employee.id">{{employee.nametitle.name + ' ' + employee.callingname}}</mat-option>
                </mat-select>
                <mat-error *ngIf="employeeField.invalid">
                  <span *ngIf="employeeField.errors.required">Select at lease one employee</span>
                  <span *ngIf="employeeField.errors.server">{{employeeField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Month</mat-label>
                <input matInput [matDatepicker]="pickermonth" formControlName="month" required>
                <mat-datepicker-toggle matSuffix [for]="pickermonth"></mat-datepicker-toggle>
                <mat-datepicker #pickermonth></mat-datepicker>
                <mat-hint>Ex: 2020-12-00</mat-hint>
                <mat-error *ngIf="monthField.invalid">
                  <span *ngIf="monthField.errors.required">Month is required</span>
                  <span *ngIf="monthField.errors.server">{{monthField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="pickerdate" formControlName="date" required>
                <mat-datepicker-toggle matSuffix [for]="pickerdate"></mat-datepicker-toggle>
                <mat-datepicker #pickerdate></mat-datepicker>
                <mat-hint>Ex: 2020-12-31</mat-hint>
                <mat-error *ngIf="dateField.invalid">
                  <span *ngIf="dateField.errors.required">Date is required</span>
                  <span *ngIf="dateField.errors.server">{{dateField.errors.server.join(', ')}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>EPF</mat-label>
                <input type="number" matInput formControlName="epf" required>
                <mat-hint>Ex: 900</mat-hint>
                <mat-error *ngIf="epfField.invalid">
                  <span *ngIf="epfField.errors.required">EPF is required</span>
                  <span *ngIf="epfField.errors.server">{{epfField.errors.server.join(', ')}}</span>
                  <span *ngIf="epfField.errors.min">EPF should be equal or greater than 0</span>
                  <span *ngIf="epfField.errors.max">EPF should be equal or less than 100000000</span>
                  <span *ngIf="epfField.errors.pattern">EPF is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>ETF</mat-label>
                <input type="number" matInput formControlName="etf" required>
                <mat-hint>Ex: 2500</mat-hint>
                <mat-error *ngIf="etfField.invalid">
                  <span *ngIf="etfField.errors.required">ETF is required</span>
                  <span *ngIf="etfField.errors.server">{{etfField.errors.server.join(', ')}}</span>
                  <span *ngIf="etfField.errors.min">ETF should be equal or greater than 0</span>
                  <span *ngIf="etfField.errors.max">ETF should be equal or less than 100000000</span>
                  <span *ngIf="etfField.errors.pattern">ETF is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Gross Income</mat-label>
                <input type="number" matInput formControlName="grossincome" required>
                <mat-hint>Ex: 25000</mat-hint>
                <mat-error *ngIf="grossincomeField.invalid">
                  <span *ngIf="grossincomeField.errors.required">Gross Income is required</span>
                  <span *ngIf="grossincomeField.errors.server">{{grossincomeField.errors.server.join(', ')}}</span>
                  <span *ngIf="grossincomeField.errors.min">Gross Income should be equal or greater than 0</span>
                  <span *ngIf="grossincomeField.errors.max">Gross Income should be equal or less than 100000000</span>
                  <span *ngIf="grossincomeField.errors.pattern">Gross Income is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Net Salary</mat-label>
                <input type="number" matInput formControlName="netsalary" required>
                <mat-hint>Ex: 19000</mat-hint>
                <mat-error *ngIf="netsalaryField.invalid">
                  <span *ngIf="netsalaryField.errors.required">Net Salary is required</span>
                  <span *ngIf="netsalaryField.errors.server">{{netsalaryField.errors.server.join(', ')}}</span>
                  <span *ngIf="netsalaryField.errors.min">Net Salary should be equal or greater than 0</span>
                  <span *ngIf="netsalaryField.errors.max">Net Salary should be equal or less than 100000000</span>
                  <span *ngIf="netsalaryField.errors.pattern">Net Salary is invalid.</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Advanced Payment</mat-label>
            <app-dual-listbox [min]="1"  placeholder="Add Advanced Payment To Here" [sourceData]="advancedpayments" formControlName="advancedpayments"></app-dual-listbox>
            <mat-error *ngIf="advancedpaymentsField.invalid">
              <span *ngIf="advancedpaymentsField.errors.min">Select at lease 1 Advanced Payment</span>
              <span *ngIf="advancedpaymentsField.errors.server">{{advancedpaymentsField.errors.server.join(', ')}}</span>
            </mat-error>
          </mat-form-field>

        </div>
        <div class="form-group">
          <h3 class="mb-0 mat-subheading-1 font-weight-light">Allowance</h3>
          <app-allowance-update-sub-form [min]="0" [max]="0" formControlName="allowances"></app-allowance-update-sub-form>
          <div class="error-box" *ngIf="allowancesField.invalid && !allowancesField.pristine">
            <p *ngIf="allowancesField.errors.min">Should has at least 0 allowance</p>
            <p *ngIf="allowancesField.errors.max">Maximum allowed only 0 Allowance</p>
                <span *ngIf="allowancesField.errors.server">{{allowancesField.errors.server.join(', ')}}</span>
          </div>
        </div>
        <div class="form-group">
          <h3 class="mb-0 mat-subheading-1 font-weight-light">Salary Loan</h3>
          <app-salaryloan-update-sub-form [min]="0" [max]="0" formControlName="salaryloans"></app-salaryloan-update-sub-form>
          <div class="error-box" *ngIf="salaryloansField.invalid && !salaryloansField.pristine">
            <p *ngIf="salaryloansField.errors.min">Should has at least 0 salary loan</p>
            <p *ngIf="salaryloansField.errors.max">Maximum allowed only 0 Salary Loan</p>
                <span *ngIf="salaryloansField.errors.server">{{salaryloansField.errors.server.join(', ')}}</span>
          </div>
        </div>
        <div class="form-group">
          <h3 class="mb-0 mat-subheading-1 font-weight-light">Salary Deduction</h3>
          <app-deduction-update-sub-form [min]="0" [max]="0" formControlName="deductions"></app-deduction-update-sub-form>
          <div class="error-box" *ngIf="deductionsField.invalid && !deductionsField.pristine">
            <p *ngIf="deductionsField.errors.min">Should has at least 0 salary deduction</p>
            <p *ngIf="deductionsField.errors.max">Maximum allowed only 0 Salary Deduction</p>
                <span *ngIf="deductionsField.errors.server">{{deductionsField.errors.server.join(', ')}}</span>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" ></textarea>
            <mat-hint>Ex:  This is Description</mat-hint>
            <mat-error *ngIf="descriptionField.invalid">
              <span *ngIf="descriptionField.errors.server">{{descriptionField.errors.server.join(', ')}}</span>
              <span *ngIf="descriptionField.errors.minlength">Description should has at least null characters. </span>
              <span *ngIf="descriptionField.errors.maxlength">Description can have a maximum of 65535 characters. </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="text-right mt-5 d-flex">
          <button *ngIf="privilege.showAll" routerLink="/salaries" class="ml-0" mat-raised-button color="primary"><mat-icon>list</mat-icon> All Salaries</button>
          <span class="spacer"></span>
          <button mat-stroked-button type="button" (click)="discardChanges()"><mat-icon>refresh</mat-icon> Clear</button>
          <button class="mr-0" mat-flat-button color="primary" type="submit"><mat-icon>save</mat-icon> Save</button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
